In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

import pandas as pd

In [3]:
df = pd.read_csv("ITSA4.SA.csv")

In [5]:
df

           Date   Open   High    Low  Close  Adj Close      Volume
0    2020-04-16   9.41   9.50   9.00   9.02   8.783123  31705000.0
1    2020-04-17   9.25   9.29   8.96   9.14   8.899973  24349200.0
2    2020-04-20   8.96   9.10   8.90   8.97   8.734436  20650000.0
3    2020-04-22   9.00   9.15   8.87   8.96   8.724700  27732600.0
4    2020-04-23   9.04   9.09   8.75   8.84   8.607850  32496600.0
..          ...    ...    ...    ...    ...        ...         ...
241  2021-04-09  10.05  10.15  10.02  10.04  10.040000  25439700.0
242  2021-04-12  10.08  10.21  10.07  10.21  10.210000  20308800.0
243  2021-04-13  10.14  10.24  10.04  10.19  10.190000  31597900.0
244  2021-04-14  10.22  10.38  10.11  10.26  10.260000  33790900.0
245  2021-04-15  10.27  10.36  10.15  10.22  10.220000  21073100.0

[246 rows x 7 columns]

In [7]:

 df['High']

0       9.50
1       9.29
2       9.10
3       9.15
4       9.09
       ...
241    10.15
242    10.21
243    10.24
244    10.38
245    10.36
Name: High, Length: 246, dtype: float64